* text=auto

.gitattributes text eol=lf
.gitignore text eol=lf
.gitmodules text eol=lf
*.c text eol=lf
*.h text eol=lf
*.rs text eol=lf
*.toml text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.ps1 text eol=crlf

*.gba binary
*.sav binary
*.png binary
*.zip binary
